@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: linear-gradient(180deg, rgba(255, 208, 68, 0.792) 0%, rgba(255, 255, 255, 0.5) 100%);
  }
}

.roboto-serif-heading {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;
  font-size: 1.5rem; /* Smaller for mobile */
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #333;
  margin: 1rem 0;
}

.playfair-display-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;
  font-size: 1.5rem; /* Smaller for mobile */
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #333;
  margin: 1rem 0;
}

.no-select {
  user-select: none;
}

body {
  font-size: 14px;
}

@media (min-width: 768px) {
  .roboto-serif-heading, .playfair-display-heading {
    font-size: 2rem; /* Larger size for larger screens */
    line-height: 1.4;
    letter-spacing: 0.05em;
  }
  body {
    font-size: 16px; /* Adjusting base font size for larger screens */
  }
}

@media (min-width: 1024px) {
  .roboto-serif-heading, .playfair-display-heading {
    font-size: 2.5rem; /* Even larger for very large screens */
    line-height: 1.5;
    margin: 2rem 0;
  }
  body {
    font-size: 18px; /* Increase font size for very large screens */
  }
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
